<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shepherdapp.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- Step 2: This permission is depreciated in Android P -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name="com.shepherdapp.app.ShepherdApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.component.createAccount.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.component.addLovedOneCondition.AddMedicalConditionActivity"
            android:exported="false" />
        <!--
         <activity
            android:name=".ui.component.lockBox.UploadLockBoxDocumentActivity"
            android:exported="false" />
        -->
        <activity
            android:name="com.shepherdapp.app.ui.component.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.component.createAccount.CreateNewAccountActivity"
            android:label="@string/create_account"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.shepherdapp.app.ui.component.resetPassword.ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.shepherdapp.app.ui.component.forgot_password.ForgotPasswordActivity"
            android:label="@string/forgot_passwd" />
        <activity
            android:name="com.shepherdapp.app.ui.component.welcome.WelcomeUserActivity"
            android:label="@string/welcome_user" />
        <activity
            android:name="com.shepherdapp.app.ui.component.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shepherdapp.app.ui.component.onBoarding.OnBoardingActivity"
            android:label="@string/title_activity_on_boarding" />
        <activity
            android:name="com.shepherdapp.app.ui.component.walk_through.WalkThroughActivity"
            android:label="@string/title_activity_walk_through" />

        <activity
            android:name=".ui.component.subscription.SubscriptionActivity"
            android:label="@string/title_activity_subscription" />

        <activity
            android:name="com.shepherdapp.app.ui.welcome.WelcomeActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name="com.shepherdapp.app.ui.component.addLovedOne.AddLovedOneActivity"
            android:label="@string/title_activity_add_loved_one" />
        <activity
            android:name="com.shepherdapp.app.ui.component.addLovedOneCondition.AddLovedOneConditionActivity"
            android:label="@string/title_activity_add_loved_one_condition" />
        <activity
            android:name="com.shepherdapp.app.ui.component.joinCareTeam.JoinCareTeamActivity"
            android:label="@string/title_activity_join_care_team" />
        <activity
            android:name="com.shepherdapp.app.ui.component.addLovedOne.SearchPlacesActivity"
            android:label="@string/search_places" />
        <activity
            android:name="com.shepherdapp.app.ui.component.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shepherdapp.app.ui.component.lockBox.UploadLockBoxDocumentActivity"
            android:exported="false"
            android:label="@string/google_drive_upload"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.apps.drive.APP_ID"
            android:value="@string/google_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm_default_channel" />


        <service
            android:name=".service.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>